[submodule "gitmodules/pulse"]
	path = gitmodules/pulse
	url = https://github.com/adamian98/pulse.git
	ignore = dirty
[submodule "gitmodules/progressive_growing_of_gans"]
	path = gitmodules/progressive_growing_of_gans
	url = https://github.com/tkarras/progressive_growing_of_gans.git
	ignore = dirty
[submodule "gitmodules/celebA-HQ-dataset-download"]
	path = gitmodules/celebA-HQ-dataset-download
	url = https://github.com/suvojit-0x55aa/celebA-HQ-dataset-download.git
	ignore = dirty
[submodule "gitmodules/patch-forensics"]
	path = gitmodules/patch-forensics
	url = https://github.com/chail/patch-forensics.git
	ignore = dirty
[submodule "gitmodules/NVAE"]
	path = gitmodules/NVAE
	url = https://github.com/NVlabs/NVAE.git
	ignore = dirty
[submodule "gitmodules/mmediting"]
	path = gitmodules/mmediting
	url = https://github.com/open-mmlab/mmediting.git
	ignore = dirty
[submodule "gitmodules/HD-CelebA-Cropper"]
	path = gitmodules/HD-CelebA-Cropper
	url = https://github.com/LynnHo/HD-CelebA-Cropper.git
	ignore = dirty
[submodule "gitmodules/SRFlow"]
	path = gitmodules/SRFlow
	url = https://github.com/andreas128/SRFlow.git
	ignore = dirty
[submodule "gitmodules/matlab_imresize"]
	path = gitmodules/matlab_imresize
	url = https://github.com/fatheral/matlab_imresize.git
	ignore = dirty
