[submodule "gitmodules/pulse"]
	path = gitmodules/pulse
	url = https://github.com/adamian98/pulse.git
	ignore = dirty
[submodule "gitmodules/progressive_growing_of_gans"]
	path = gitmodules/progressive_growing_of_gans
	url = https://github.com/tkarras/progressive_growing_of_gans.git
	ignore = dirty
[submodule "gitmodules/celebA-HQ-dataset-download"]
	path = gitmodules/celebA-HQ-dataset-download
	url = https://github.com/suvojit-0x55aa/celebA-HQ-dataset-download.git
	ignore = dirty
[submodule "gitmodules/patch-forensics"]
	path = gitmodules/patch-forensics
	url = https://github.com/chail/patch-forensics.git
	ignore = dirty
